@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
}

h1,h2,h3,h4,h5,h6,p,span,li,button,a{
    font-family: 'Outfit', sans-serif;
    color: white;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

.heading-1{
    font-size: 3rem;
    padding-top: 3rem;
    text-align: center;
}